<h1>Results Page!</h1>

<ul>
    <% data['Search'].forEach(function(data){ %>
        <li>
            <strong><%=data['Title']%><strong> - 
            <%= data["Year"]%>
        </li>
    <% }) %>
</ul>

<a href = "/">Click to search again!!</a>